html, body {
	overflow:hidden;
	border-bottom: 1px solid #dddddd;
	color:#555555;
	height:100%;
}

#monitor, #test{
	display:none;
}

#test{
/*	display:none;*/
}

#logo_top, #logo_top_1, #logo_top_2 {
	margin:30px 0 0 0;
	height:180px;
}

.cs_logo{
	height:112px;
	width:600px;
	margin: 0 20px; 
}

#flight_number, #flight_number_1, #flight_number_2{
	font:bold 240px/110% Times;
	text-align: center;
}

#destination, #destination_1, #destination_2{
	font:bold 170px/100% Times;
	text-align: center;
}

#class{
	font:italic bold 120px/100% Times;
	text-align: center;	
	margin:0 0 60px 0;
}

.cs{
	float:left;
	width:640px;
}
.cs_number{
	font:bold 100px/100% Times;
	text-align: center;
}
.cs_logo{
	height:112px;
	width:600px;
	margin: 0 20px; 
}

#flight_number_1, #flight_number_2{
	font:bold 150px/100% Times;
	text-align: center;
}

#destination_1, #destination_2{
	font:bold 150px/100% Times;
	text-align: center;
}

#two_fkights_break {
    border-top: 16px solid #777799;
    margin: 23px 0 -14px;
}