#fillUserAccountPopUp{
	display:none;
	position:absolute;
	left: center;
    top: center;
    background:  #ffffff;
    border: 2px solid #999999;
    padding: 5px;
    width: 300px;
    height:135px;
    box-shadow: 10px 10px 5px rgba(150, 150, 150, 1);
}

#fillUserAccountPopUpHead{
  background: #DDDDDD;
}

#fillUserAccountPopUpHead a{
    position: absolute;
    right: 8px;	
}

.formError{
	color: #FF7777;
}

.userName{
	display:block;
}

.search{
	margin: 20px 0;
}

.logout{
	margin: 20px 0;
}

.error{
	margin: 20px 0;
}

.data{
	border: 1px solid #999999;
    border-collapse: collapse;
    margin: 20px 0;
}

th{
	background: none repeat scroll 0 0 #DDDDDD;
	padding: 0 20px;
}

.datacell{
 	 padding: 0 20px;
 	 border: 1px solid #999999;
 }
